<footer class="footer">
<ul class="footer-ul">
    <li class="footer-li"><a href="/">Home</a></li>
    <li class="footer-li"><a href="/profile">Profile</a></li>
    <li class="footer-li"><a href="/slide-show">Slides</a></li>
    <li class="footer-li"><a href="/terms">Terms and Conditions</a></li>
    <li class="footer-li"><a href="/terms/#privacy">Privacy Policy</a></li>
</ul>
</footer>
